*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-teachers{
    font-family: 'Century Gothic',sans-serif;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    .left{
        display: flex;
        flex-direction: column;
        width: 20%;
        padding: 50px;
        gap: 30px;
        background: linear-gradient(#000428,#004e92);
        transition: 0.3s;
        span{
            width: 80%;
            background-color: white;
            height: 2px;
            align-items: center;
            justify-content: center;
            margin: 10px auto;
        }
        ul{
            font-size: 20px;
            font-family: 'Century Gothic',sans-serif;
            font-weight: 700;
            li{
                list-style-type: none;
                a{
                    text-decoration: none;
                    color: white;
                    &:hover{
                        opacity: 0.7;
                    }
                }
            }
        }
    }
   .table-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: center;
        padding: 10px;
        // border: 1px solid;
        width: 100vw;

        h1{
            font-family: 'Century Gothic',sans-serif;
            padding: 15px;
        }

    table{
        // border: 1px solid gray;
        border-collapse: collapse;
        // width: 50%;
        thead{
            // border: 1px solid red;
                border-radius: 5px;
                background-color: rgb(160, 145, 145);
            tr{
                // border: 1px solid;
                padding: 5px;
                text-align: left;
                th{
                    padding: 10px;
                    // border: 1px solid;
                }
            }
        }

        tbody{
            tr{
                border: 1px solid rgb(219, 211, 211);
                &:nth-child(even){
                    background-color: rgb(219, 211, 211);
                    &:hover{
                        background-color: rgb(219, 201, 211);
                    }
                }
                td{
                    padding: 10px;
                    button{
                        border: none;
                        padding: 4px 20px;
                        border-radius: 4px;
                        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                        font-weight: bold;
                        background-color: rgb(107, 18, 18);
                        color: white;
                        &:hover{
                            background-color: rgb(155, 21, 21);
                        }
                    }
                }
            }
        }
    }
   }

   .input-search{
    margin: 20px auto;
    // width: 200px;
    // border: 1px solid;
    box-shadow: 0px 0px 5px grey;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
    gap: 5px;
    #input-search{
        width: 300px;
        height: 30px;
        border-radius: 5px;
        border: none;
    }

    #btnSearch{
        border: none;
        padding: 5px 10px;
        border-radius: 2px;
        font-size: 15px;
        font-family: 'Century Gothic',sans-serif;
        font-weight: bold;
        background-color: #004e92;
        color: white;
        &:hover{
            background-color: #032f56;
            transition: 0.3s;
        }
    }
}
}